*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./photo_2024-07-03_19-52-42.jpg');
    background-size: cover;

}

.wrapper{
    width: 400px;
    margin: 150px auto;
}
.form input{
    width: 80%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    
}
.form button{
    width: 20%;
    padding: 10px;
    background-color: black;
    color:white ;
    border: none;
    transition: 1s;
}
.form button:hover{
    background-color: #fff;
    color: black;
}


.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
}
